{% extends 'base.html.twig' %}

{% block title %}PlatDetailController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1> Détails de {{Produit.libelle}}</h1>











<div class="row">
  <div class="mt-5">
    <h4>
    {# {{ dump(ma_variable)}} #}
      <!-- Tous les plats<?php echo $mon_plats[0]->plat_libelle ?> -->
    </h4>
  </div>
  
 
  

    <div class="col-md-9 col-xs-12 mx-auto">
      <div class="row">
        <div class="col-4">
          <!-- <div class="card"> -->
          <img src="images_the_district/fooda_actuel/<?= $plat->image ?>" class="img-responsive mw-100" style="width:400px;" alt="..." />
        </div>
        <div class="col-5">
          <h5 class="card-title"></h5>
          <p></p>
          <!-- <a href="commande.php?id=<?php echo $plat->id; ?>"> -->
          <form method="post" action="commande.php">
            <input type="hidden" name="plat" value="<?php echo $plat->id; ?>" />
          <button type="submit">Commander</button>
        <!-- </a> -->
          </form>
            
        </div>
      </div>
    </div>

</div>


</div>


{% endblock %}
